html {
  font-size: 12px;
  font-family: Roboto, sans-serif;
  --nav-color: #161616;
  --bg-color: #232323;
  background-color: var(--bg-color);
}

#content {
  margin: 1rem 0px;
}

.inputRow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
