@font-face {
  font-family: 'Adobe-Font';
  src:
    url('fonts/Adobe-Font.ttf?b1xg30') format('truetype'),
    url('fonts/Adobe-Font.woff?b1xg30') format('woff'),
    url('fonts/Adobe-Font.svg?b1xg30#Adobe-Font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="adobe-icon-"], [class*=" adobe-icon-"] {
  font-family: 'Adobe-Font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

html {
  font-size: 12px;
}

:root {
  --globalBorderWidth: 1.5px;
  --borderRadius: 3px;
  --borderWidth: 1.5px;

  --colorPanelBG: #323232;
  --altOpacity: 0.2;

  --border: 1.5px solid transparent;
  --btnBorder: 1.5px solid transparent;

  --inputPadding: 0rem .5rem;
  --inputHeight: 1.5rem;
  --inputWidthMD: 3rem;
  --inputWidthLG: 4rem;
  --inputWidth1X: 100%;

  --btnPadding: .0625rem .5rem;
  --btnMargin: auto .035rem;
  --btnHeight: 1.75rem;
  --btnHeightMax: 25.17px;
  --btnWidth: 1.25rem;

  --fontSize: 10px;
  --fontFamily: "Adobe Clean", sans-serif;

  --colorInputIdle: #262626;
  --colorInputActive: #fcfcfc;

  --colorDisabled: #393939;
  --colorFontDisabled: #525252;
  --colorFontActive: #000000;
  --colorFont: #b7b7b7;

  --colorBorder: #3e3e3e;
  --colorHover: #292929;
  --colorActive: #1f1f1f;
  --colorFocus: #46a0f5;
  --colorIcon: #b4b4b4;

  --colorCheckbox: #999999;
  --colorCheckboxHover: #CDCDCD;

  --borderLayer: 1.5px solid var(--colorFont);
}

body {
  overflow: hidden;
  background-color: var(--colorPanelBG);
  color: var(--colorIcon);
}

.adobe-icon-checkBoxOff:before {
  content: "\e900";
}
.adobe-icon-checkBoxOn:before {
  content: "\e901";
}
.adobe-icon-layerRadioOff:before {
  content: "\e902";
}
.adobe-icon-layerRadioOn:before {
  content: "\e903";
}

[class^="adobe-icon-"]:active, [class*=" adobe-icon-"]:active {
  cursor: pointer;
}

#content{
  margin-top: .93rem;
}

.adobe-toolbar-divider {
  margin: .125rem;
  border-top: solid 1.33px var(--colorHover);
  opacity: 0.6;
  width: 94%;
}

.adobe {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--borderRadius);
  border: var(--border);
}

.adobe-btn, .adobe-btn-switch, .adobe-btn-switch-off, .adobe-btn-switch-on, .adobe-btn-hover, .adobe-btn-active {
  padding: var(--btnPadding);
  min-width: var(--btnWidth);
  height: var(--btnHeight);
  max-height: var(--btnHeightMax);
  border-width: var(--globalBorderWidth);
  border-style: solid;
  margin: var(--btnMargin);
  user-select: none;
  cursor: pointer;
}

.adobe-btn:hover, .adobe-btn-switch-off:hover, .adobe-btn-switch:hover {
  border-color: var(--colorBorder);
  background-color: var(--colorHover);
}

.adobe-btn:active, .adobe-btn-switch-off:active, .adobe-btn-switch:active {
  border-color: var(--colorBorder);
  background-color: var(--colorActive);
}

.adobe-btn-hover {
  border-width: var(--borderWidth);
  border-color: var(--colorBorder);
  background-color: var(--colorHover);
}

.adobe-btn-active {
  border-color: var(--colorBorder);
  background-color: var(--colorActive);
}

.adobe-btn-disabled {
  padding: var(--btnPadding);
  min-width: var(--btnWidth);
  height: var(--btnHeight);
  max-height: var(--btnHeightMax);
  border-width: var(--globalBorderWidth);
  border-style: solid;
  margin: var(--btnMargin);
  user-select: none;
  color: var(--colorFontDisabled);
}


.adobe-btn-switch-on {
  border-color: var(--colorBorder);
  background-color: var(--colorActive);
}

.adobe-btn-switch-on {
  border-color: var(--colorBorder);
  background-color: var(--colorActive);
}

.adobe-inputGroup {
  display: inline-block;
  max-height: var(--inputHeight);
}

.adobe-inputGroup-suffix {
  position: relative;
  top: -1.4rem;
  margin-left: 50%;
}

.adobe-input {
  justify-content: flex-start;
  border-style: solid;
  background-color: var(--colorInputIdle);
  font-size: 10px;
  color: var(--colorFont);
  border-width: var(--borderWidth);
  border-color: var(--colorBorder);
  border-radius: var(--borderRadius);
  padding: var(--inputPadding);
  height: var(--inputHeight);
}

.adobe-input-md {
  width: 2rem;
}

.adobe-input-lg {
  width: 70%;
}

.adobe-input:focus {
  outline-offset: 0px;
  background-color: var(--colorInputActive);
  /* border-color: var(--colorActive); */
  color: var(--colorFontActive);
}

:focus {
  outline-width: 0px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.adobe-toolbar {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: .5rem 0px;
  align-items: center;
}

.adobe-Group {
  margin: .25rem 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1.5px solid var(--colorBorder);
  border-radius: 2px;
}

.adobe-inputGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.adobe-checkGroup {
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  height: var(--inputHeight);
  width: calc(var(--inputHeight) * 2);
  color: var(--colorCheckbox);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.adobe-checkLayer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  border: 1.5px solid var(--colorFont);
  position: relative;
  width: 6px;
  height: 6px;
  margin-left: .25rem;
  cursor: pointer;
}

.adobe-checkboxGroup {
  cursor: pointer;
  margin: .5rem .25rem;
  padding: .25rem;
}

.adobe-icon-checkBoxOn, .adobe-icon-checkBoxOff {
  margin-left: .5rem;
}

.adobe-checkToggle {
  margin-left: .25rem;
  width: calc(var(--inputHeight)/3);
  height: calc(var(--inputHeight)/3);
  border: 1.5px solid black;
  background-color: #4f80ff;
}

.adobe-input-prefix {
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: flex-end;
  margin-left: .25rem;
  color: rgba(255,255,255,.2);
  user-select: none;
  cursor: default;
}

.adobe-alt {
  opacity: var(--altOpacity);
}

.adobe-checkbox-suffix {
  font-family: Roboto, sans-serif;
  font-size: 10px;
  display: flex;
  justify-content: flex-end;
  margin-left: .5rem;
  margin-top: .25rem;
  /* color: var(--colorFont); */
  user-select: none;
  cursor: pointer;
}

.adobe-checkboxGroup:hover {
  color: var(--colorCheckboxHover);
  /* background-color: red; */
}



/* Scrollbar */
  ::-webkit-scrollbar {
    background: #2A2A2A;
  }

  ::-webkit-scrollbar-thumb {
    background: #3E3E3E;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #525252;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }

  ::-webkit-scrollbar:single-button {
    /* margin: 1rem 0px; */
  }

  ::-webkit-scrollbar-button:start {
    /* background-image: url('./scrollbarUpBtnAlt.png'); */
  }

  ::-webkit-scrollbar-button:end {
    /* background-image: url('./scrollbarDownBtnAlt.png'); */
  }

  ::-webkit-scrollbar-button:start:hover {
    /* background-image: url('./scrollbarUpBtnAltHover.png'); */
  }

  ::-webkit-scrollbar-button:end:hover {
    /* background-image: url('./scrollbarDownBtnAltHover.png'); */
  }
